<h1>Boris Brejcha</h1>

<p>Boris Brejcha was born in Ludwigshafen (Germany) in 1981 and already had to
  experience some strokes of fate in his childhood. At the age of six, he was
  seriously injured in the Ramstein air disaster and spent months in hospital.
  Today, he still bears extensive scars from the severe burns. Because of
  teasing from classmates, Boris withdrew and discovered his interest in music.
  After a classmate of his brought a "Thunderdome" CD in middle school, he was
  hooked. He was dying to know how to make this new kind of electronic music. So
  at the age of twelve, he started producing electronic music himself as a
  hobby. He made his first releases in 2006, the same year he had the first
  performance of his entire career. At the Universo Paralello Festival in
  Brazil. Since then, his mask is also indispensable. Inspired by the Brazilian
  Carnival, Boris chose the Joker mask as his trademark. In the international
  foreign countries his music found fast approval. Numerous gigs, for example
  South America and Russia, followed. Since then, Boris has made a full-time
  living from music and has continued to develop as an artist. With the
  specially created genre "High-Tech-Minimal" Boris gave his extraordinary music
  a name. He went on to release on Autist Records and later on Harthouse.
  Through the music magazine "Raveline" he was named "exceptional talent 2007".</p>