<h2>“High-Tech Minimal”</h2>
<p>
  When Boris founded his own music label Fckng Serious in 2015, he really took
  off. He released more music than almost anyone else. “Fckng Serious” He then
  achieved two notable breakthroughs in his career through the recorded sets
  with the French streaming channel "Cercle" and his set from the world-renowned
  electro festival "Tomorrowland". Together, the videos on YouTube have about
  140 million views. In the meantime, it is impossible to imagine the music
  scene without Boris. He has achieved international fame and plays every
  weekend on the biggest stages in the world. Label bus tours in the nightliner
  have also taken him across Europe with his colleagues. His specially arranged
  concerts, with a special concept, always attract tens of thousands of fans
  everywhere. His own fashion brand has also already achieved great fame.
  Another highlight: his personalized squeaky duck with original Joker mask. He
  regularly hands them out at concerts or hides them in the world's biggest
  cities, where fans can then search for them. Most recently, he released his
  tenth studio album on Ultra Music and was ranked 42nd in the DJ-Mag voting of
  the Top100 DJs. Boris still plays only his own produced music at his gigs -
  and the success proves him right. Sold-out halls, screaming fans, TV
  appearances and weeks of touring - around the globe, he is eagerly awaited at
  all major festivals.

</p>